.continer {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 3px;

}

@media only screen and (max-width: 500px) {
    .continer {
      max-width: 100%;
      height: auto;
    }
  }
.image {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 15px;
}
img{
    border-radius: 15px;
}
h1 {
    color : red;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    font-weight: 700px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 40px;
}
p {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: center;
    font-weight: 400px;
    color:hsl(220, 15%, 55%);
    font-size: 30px;
}
body {
    /*background-color: rgba(180, 184, 197, 0.7);*/
    background-color: hsl(212, 45%, 89%)
}